/*sets the background color*/
body{
    background-color: #f1f1f1;
    font-family: helvetica;
    

}

.header{
  text-align: center;
  color: #10113C;
}

.windows{
        
    display: flex;
    margin: auto;
    align-items: center;
    justify-content:center;
}


img{
    max-width: 70%;
    
	height: auto;
}

.character{
    position: absolute;
   }


/*for media screen for Iphone*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px){

.hide{
    display: none;
    }
	
}